* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #1D0A3C !important;
  color: #fff;
}

/* ===== Stars Background ===== */
   .stars-background{
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}
.stars-background span{
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: .9;
  animation: floatStars 6s linear infinite;
}

.stars-background span:nth-child(1){ top:10%; left:15%; color: #b831f6; }
.stars-background span:nth-child(2){ top:30%; left:70%; color: #b67dd0; }
.stars-background span:nth-child(3){ top:60%; left:25%; color: #9e10e0; }
.stars-background span:nth-child(4){ top:80%; left:50%; color: #9349b6; }
.stars-background span:nth-child(5){ top:20%; left:85%; color: #cc7bd4; }
.stars-background span:nth-child(6){ top:45%; left:10%; color: #9A3BBF; }
.stars-background span:nth-child(7){ top:75%; left:80%; color: #be5fea; }
.stars-background span:nth-child(8){ top:55%; left:60%; color: #8d1698; }
.stars-background span:nth-child(9){ top:10%; left:40%; color: #9A3BBF; }
.stars-background span:nth-child(10){ top:90%; left:30%; color: #6b1066; }

.stars-background span:nth-child(odd){
  animation-duration: 8s;
}
.stars-background span:nth-child(even){
  animation-duration: 4s;
}

@keyframes floatStars{
  0%{ transform:translateY(0) scale(1); opacity:.7; }
  50%{ transform:translateY(-20px) scale(1.2); opacity:1; }
  100%{ transform:translateY(0) scale(1); opacity:.7; }
}




  


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #1D0A3C;
  color: #fff;
 
}
header{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
 padding: 0 10px;
 margin-left: 25px;

}
.white-top{
  background: #ffffff;
  border-radius: 0 0 64px 64px;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
  box-shadow: 0 40px 90px rgba(0,0,0,0.1);
}


 .shape{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 288px;
  height: 45px;
 }
.header-titel{
  background-image: 
    linear-gradient(to bottom, rgba(14, 1, 22, 0) 70%, oklab(16.994% 0.03966 -0.0525 / 0.8) 100%), 
    url('images/Group\ 112.png');
 background-size:84% ;
 background-repeat: no-repeat;
 background-position: center;
 background-position: top;
 height:70vh;
 width : 100%;
 margin-top: 10px;
 
 position: relative;
 z-index: 1;
 

}
header .menu-btn{
  display: none;
}
header .menu-mobile{
  display: none;
}
header .nav-left{
  display: flex;
  align-items: center;
  animation: navber 1s ease forwards;
}

header .nav-left img{
  width: 40px;
  height: 100%;
  margin-right: 50px;
  margin-left: 120px;
  margin-top: 20px;
}
header .nav-left .pages-left{
  display: flex;
  gap: 24px;
  margin-right: 120px;
  margin-top: 20px;

}
header .nav-left .pages-left a{
  text-decoration: none;
  color:var(--word-color);
  font-size: 24px;

}
header .nav-right{
  display: flex;
  gap: 24px;
  margin-right: 120px;
  margin-top: 20px;
  animation: navber 1s ease forwards;
  padding: 60px;
}
header .nav-right a{
  text-decoration: none;
  color:var(--word-color);
  font-size: 24px;
}

header .nav-left a.active{

  text-decoration: underline solid 4px;
  text-underline-offset: 7px;
  text-decoration-color:#b155bf ;
  
  }
  
    
header .nav-right a.active{

  text-decoration: underline solid 4px;
  text-underline-offset: 7px;
  text-decoration-color:#b155bf ;
  
  }
  header .nav-left a:hover{
    color: #b155bf;

  }
   header .nav-right a:hover{
    color: #b155bf;

  }

header .nav-left a,
  header .nav-right a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    position: relative;
    transition: color 0.3s;
    
  }


  


  @keyframes navber{
    from{
      transform: translateY(-300px);
      opacity: 0;
    }
    to{
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* title contact */
  .title-contact{

    text-align: center;
    margin: 100px 0;
    
    
  }
  .title-contact h1{
    font-size: 50px;
    font-weight: bold;
    color: var(--word-color);
    margin-bottom: 24px;

  }
  .title-contact p{
    max-width: 1000px;
    margin: auto;
  font-weight: bold;
  line-height: 1.8;
  color: #ddd;
  font-size: 25px;
  text-align: center;
  
  

 
    
  }


  /* ===== Cards ===== */
.info-cards {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;  
  padding: 0 120px;
  margin-bottom: 100px;
 

}

.info-card {
  padding: 40px;
  border-radius: 16px;
  text-align: left;
}

.info-card h3 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
}

.info-card p {
  font-size: 25px;
  line-height: 1.5;
}

/* الكارد التالت */
.info-card.values {
  grid-column: 1 / -1;
  max-width: 600px;
  margin: auto;
 
}

/* Colors */
.vision {
  background: linear-gradient(135deg, #6b1066, #401b8a);
}

.mission {
  background: linear-gradient(135deg, #4A6FD8, #9A3BBF);
}

.values {
  background: linear-gradient(135deg, #6C8BEA, #C78BCB);
}

.fa-star,
.fa-bullseye,
.fa-rocket {
  margin-right: 8px;
}

 /* footer  */


#footer{
  background-color: black;
  color: white;
    padding: 20px 0;
 

}

.footer-h2 , .quick-h2 ,.contact-h2{
  font-size: 32px;
  font-weight: bold;
  margin-top: 50px;
  line-height: 80px;
}
.p-text  {
  font-size: 18px;
  font-weight: bold;

 
}
.pp-text2{
font-size: 18px;
font-weight: bold;
 
}
.contact-h2{
  margin-left: 20px;
}
.footer-ul li , .email , .phone{
 list-style: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;

}
.footer-ul  a{
   text-decoration: none;
     color: white; 
}
.p-text2{
  font-size: 18px;
  font-weight: bold;
}
.rights{
  text-align: center;
}

  



/* ===== Responsive ===== */
@media (max-width: 768px) {
    /* header */
      .header-titel{
    height: auto;
    padding-bottom: 60px;
    background-size: cover;
   
  }
 header{
  height: 60px;
  padding: 0 10px;
  margin: 0;
  

    
  }
  header .nav-left .pages-left{
    display: none;
    padding: 0;
  }
  header .nav-right{
    display: none;
  }
  
   header .nav-left img{
  width: 35px;
  height: 55px;
  margin: 0;
  margin-top: 10px;

   }
   header .menu-btn{
    display: block;
    font-size: 26px;
    color: white;
    cursor: pointer;
  
    
   }
   header .menu-mobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #291847;
    transform: translatey(-400px);
    
    transition: 1s ease;
    z-index: 2;
    
   }
   header .menu-mobile .menu-close{
    align-self: flex-end;
    font-size: 30px;
    color: var(--word-color);
    cursor: pointer;
    
    
    
   }
   header .menu-mobile a{
    text-decoration: none;
    color: var(--word-color);
    font-size: 20px;
   }
   header .menu-mobile.menu-show{
    transform: translateY(0);
    
   }
  /* about */
 
  .title-contact h1 {
    font-size: 30px;
  }

  .title-contact p {
    font-size: 20px;
    padding: 0 10px;
  }

  .info-cards {
    grid-template-columns: repeat(1,1fr);
    gap: 25px;
    padding: 0 20px;
  }
  .info-card h3{
    font-size: 20px;
  }
  .info-card p{
    font-size: 18px;
  }

  .info-card {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding-top: 90px;
  }

  .about h1 {
    font-size: 24px;
  }

  .info-card p {
    font-size: 13px;
  }
}










  