:root{
  --bg-body:#291847;
  --word-color:white;
   --gradient-colors-hero:linear-gradient(90deg,#FC60FF,#63E8FF,#63E8FF);
   --gradient-colors-hero-btn:linear-gradient(90deg,#FD77FF,#09D6FB);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--bg-body);
  margin: 20px;

}
.header-titel{
  background: linear-gradient(to bottom, #591456 0%,#291847 100%);
  border: 1px solid rgba(255, 255, 255, 0.341);
  border-bottom: none;
  border-top: none;
  border-radius:10px 10px 0 0 ;
  height: 500px;
  position: relative;
}



header{
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
 padding: 0 20px;
  
}


 .shape{

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 288px;
  height: 45px;
  background:  #291847;
  border-radius: 0 0 24px 24px;
  clip-path: polygon(
    0% 0%, 
    100% 0%, 
    80% 100%, 
    20% 100%
  );


 }


header .menu-btn{
  display: none;
}
header .menu-mobile{
  display: none;
}


header .nav-left{
  display: flex;
  align-items: center;
  animation: navber 1s ease forwards;
}
header .nav-left img{
  width: 65px;
  height: 100%;
  margin-right: 88px;
}
header .nav-left .pages-left{
  display: flex;
  gap: 24px;
}
header .nav-left .pages-left a{
  text-decoration: none;
  color:var(--word-color);
  font-size: 32px;

}
header .nav-right{
    display: flex;
  gap: 24px;
  animation: navber 1s ease forwards;
}
header .nav-right a{
  text-decoration: none;
  color:var(--word-color);
  font-size: 32px;
}

header .nav-left a.active{

  text-decoration: underline solid 4px;
  text-underline-offset: 7px;
  text-decoration-color:#b155bf ;
  }
header .nav-right a.active{

  text-decoration: underline solid 4px;
  text-underline-offset: 7px;
  text-decoration-color:#b155bf ;
  
  }

  /* title contact */
  .title-contact{
    text-align: center;
    margin-top: 100px;
  }
  .title-contact h1{
    font-size: 64px;
    color: var(--word-color);
    margin-bottom: 34px;

  }
  .title-contact p{
    font-size: 40px;
    color: var(--word-color);
    margin-top: 30px;
    
  }
  /* section send msg */
  .send-msg{
    width: 100%;
    background: #291847;
    background: linear-gradient(0deg,#793EA5 0%,#4D55D4 100%);
    padding: 65px 80px;
    border-radius: 60px;
  
  
  }
  .send-msg .top-inputs,.bottom-inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  .top-inputs div {
    width: 100%;
  }
  .top-inputs input{
    width: 100%;
    height: 112px;
    border-radius: 60px;
    border: 1px white solid;
    background: transparent;
    padding: 30px;
    font-size: 32px;
    color: #D9D9D9;

  }

   label{
    display: block;
    margin-bottom: 16px;
    font-size: 40px;
    color: var(--word-color);
    margin-left: 20px;
  }
  .bottom-inputs{
    margin-top: 50px;
  }
  .bottom-inputs div{
    width: 100%;
  }
  .send-msg .bottom-inputs span{
    color:red;

  }
  .send-msg .bottom-inputs input{
   width: 100%;
    height: 112px;
    border-radius: 60px;
    border: 1px white solid;
    background: transparent;
    padding: 30px;
    font-size: 32px;
    color: #D9D9D9;
  }
  .input-msg{
    width: 100%;
    margin-top: 56px;
  }
  .input-msg textarea{
    width: 100%;
    height: 330px;
    border-radius: 60px;
    border: 1px white solid;
    background: transparent;
    padding:60px;
    font-size: 30px;
    color: #D9D9D9;
  }
  .send-msg .btn-send{
    width: 100%;
    margin-top: 55px;
    
  }
  
  .send-msg .btn-send button{
    width: 750px;
    height: 150;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50px;
    background:#63E8FF ;
    background: linear-gradient(90deg,#63E8FF 0%,#FD9AFF 100%);
    padding: 20px;
    font-size: 36px;
    color: #100425;
    margin: auto;
  }
  .send-msg .btn-send img{
    width: 45px;
    height: 45px;
    margin-left: 8px;
 
  }

  .send-msg h1{
    font-size: 48px;
    color: var(--word-color);
    margin-bottom: 56px;
  }
  /* information company */
  .send-company{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
  }
  .send-company h1{
    font-size: 60px;
    color: var(--word-color);
    margin-bottom:40px ;
  }
  .send-company .img-company{
    width: 530px;
    height: 330;

  }
  .send-company ul{
    list-style: none;
  }
  .send-company ul li{
    display: flex;
    align-items: center;
    gap: 24px;
    
  }
  .send-company ul li:not(:last-child){
    margin-bottom: 40px;
  }
 .send-company ul li span{
   font-size: 36px;
   color:var(--word-color) ;

  }

  .send-company ul img{
    width: 60px;
    height: 60px;
  }

  

input:focus{
    outline: none;
}








  @media screen and (max-width: 768px) {
    /* header */
 header{
    height: 80px;
    position: relative;
    width: 100%;
    padding: 0 20px;
    margin: 0;
  }
  header .nav-left .pages-left{
    display: none;
  }
  header .nav-right{
    display: none;
  }
   .shape{
    width: 200px;
    height: 30px;
   }
   header .nav-left img{
  width: 35px;
  height: 65px;
  margin-right: 0;
   }
   header .menu-btn{
    display:flex;
    color: var(--word-color);
    font-size: 30px;
    cursor: pointer;
   }
   header .menu-mobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #291847;
    transform: translatey(-400px);
    
    transition: 1s ease;
    z-index: 2;
    
   }
   header .menu-mobile .menu-close{
    align-self: flex-end;
    font-size: 30px;
    color: var(--word-color);
    cursor: pointer;
    
    
    
   }
   header .menu-mobile a{
    text-decoration: none;
    color: var(--word-color);
    font-size: 20px;
   }
   header .menu-mobile.menu-show{
    transform: translateY(0);
    
   }

     .title-contact h1{
    font-size: 40px;
    color: var(--word-color);
    margin-bottom: 34px;

  }
  .title-contact p{
    font-size: 25px;
    color: var(--word-color);
    margin-top: 30px;
    
  }
 
  /* send msg */
 
  .send-msg{
    padding: 20px;
  }
  .send-msg .top-inputs{
     flex-direction: column;
     gap: 0;
  }
 .send-msg .bottom-inputs{
    flex-direction: column;
    gap: 0;
 }
   label{
    font-size: 25px;
    margin-top: 60px;   
  }

   input{
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;

  }
  .input-msg{
    width: 100%;
    margin-top: 56px;
  }
  .input-msg textarea{
    height: 230px;
    padding:30px;
    font-size: 20px;
  }

  
  .send-msg .btn-send button{
    width: 250px;
    height: 80px;
    padding: 10px;
    font-size: 26px;
  }
  .send-msg .btn-send img{
    width: 25px;
    height: 25px;
  }

  .send-msg h1{
    font-size: 35px;
   margin: 10px;
  }
  /* information company */
  .send-company{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .send-company h1{
    font-size: 40px;
    margin-bottom:40px;
  }
  .send-company .img-company{
    width: 430px;
    height: 280px;
    margin-bottom:20px ;

  }

  .send-company ul li{
    display: flex;
    align-items: center;
    gap: 24px;
    
  }
  .send-company ul li:not(:last-child){
    margin-bottom: 40px;
  }
 .send-company ul li span{
   font-size: 26px;
  }

  .send-company ul img{
    width: 30px;
    height: 30px;
    
  }


 
  
}