:root{
  --bg-body:#291847;
  --word-color:white;
   --gradient-colors-hero:linear-gradient(90deg,#FC60FF,#63E8FF,#63E8FF);
   --gradient-colors-hero-btn:linear-gradient(90deg,#FD77FF,#09D6FB);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #291847;
}
.head-hero{
  background:var(--bg-body);
  background:
    radial-gradient(
      circle at 65% 50%,
      rgba(255, 0, 255, 0.6) 0%,
      rgba(255, 0, 255, 0.3) 25%,
      rgba(255, 0, 255, 0.1) 45%,
      rgba(255, 0, 255, 0) 60%
    ),
    linear-gradient(
      90deg,
      #1b0b2e 0%,
      #3a0f5c 40%,
      #0b1b3a 100%
    );
    padding: 0 20px;




}

header{
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
 padding: 0 20px;
  
}


 .shape{

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 288px;
  height: 45px;
  background:  #291847;
  border-radius: 0 0 24px 24px;
  clip-path: polygon(
    0% 0%, 
    100% 0%, 
    80% 100%, 
    20% 100%
  );


 }


header .menu-btn{
  display: none;
}
header .menu-mobile{
  display: none;
}


header .nav-left{
  display: flex;
  align-items: center;
  animation: navber 1s ease forwards;
}
header .nav-left img{
  width: 65px;
  height: 100%;
  margin-right: 88px;
}
header .nav-left .pages-left{
  display: flex;
  gap: 24px;
}
header .nav-left .pages-left a{
  text-decoration: none;
  color:var(--word-color);
  font-size: 32px;

}
header .nav-right{
    display: flex;
  gap: 24px;
  animation: navber 1s ease forwards;
}
header .nav-right a{
  text-decoration: none;
  color:var(--word-color);
  font-size: 32px;
}

header .nav-left a.active{

  text-decoration: underline solid 1px rgb(255, 255, 255);
  text-underline-offset: 10px;
  
  }
  @keyframes navber{
    from{
      transform: translateY(-300px);
      opacity: 0;
    }
    to{
      transform: translateY(0);
      opacity: 1;
    }
  }
/* hero section */
.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  animation: 1s ease forwards;


}

.hero-section .hero-right img{
  width: 753px;
  height: 690px;
}
.hero-section .hero-right{
  animation: fromright 1s ease forwards;
}
.hero-section .hero-left h1{
  font-size: 64px;
  background: var(--gradient-colors-hero);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
.hero-section .hero-left p{
  font-size: 24px;
  line-height: 30px;
  width: 500px;
  height: 156px;
  margin-top: 65px;
  color: var(--word-color);
  
}
.hero-section .hero-left button{
  padding: 24px;
  background: var(--gradient-colors-hero-btn);
  border-radius: 50px;
  font-size: 24px;
  font-weight: bold;
  color: var(--word-color);
  border: none;
  cursor: pointer;
}
.hero-section .hero-left{
  animation: fromleft 1s ease forwards;
}
 .head-hero .start{
  opacity: 0.2;
 }

@keyframes fromleft{
  from{
    transform: translateX(-300px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromright{
  from{
    transform: translateX(300px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}


/* start why procoder */
/* end why procoder */




/* our services */
.our-service{
  margin: 100px 0;
  text-align: center;
  position: relative;
}
.our-service .start{
  position: absolute;
  top: 20px;
  left: 100px;
  transform: translateX(200px);
  font-size: 40px;
 
}
.our-service h2{
  margin-bottom: 60px;
  color: var(--word-color);
  font-size: 50px;

}
.services{
  width: 100%;
  padding: 0 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  

}
/* style="height: 280px; width: 316px;" */
.services .div-img-service{
  background:linear-gradient(0deg,#96EFFF 0%,#FD9AFF 100%) ;
  padding: 5px 5px 0px 5px;
  border-radius: 10px;

}
.services .service-one img{
  width: 316px; 
  height: 280px;
}
.services .service-tow img{
  width: 270px; 
  height: 270px;
}
.services .service-three img{
  width: 316px;
   height: 286px;
}
.services h4{
  margin-top: 15px;
  font-size: 32px;
  color: var(--word-color);
}

.services .div-img-service img{
  border-radius: 10px;
}
.services span{
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: white;
  background: linear-gradient(0deg, #FEC6FF 0%,#C3F5FF 69%);
}
.services span .fa-solid{
 font-size: 40px;

}

.bottom{
  transform: translatey(200px);
}
.anim-arrow{
  transform: translatex(300px);
}
.header-service{
  transform: translatey(-300px);
}
.animation-x{
  opacity: 0;
   transition: 1s ease;
}
.animation-y{
   opacity: 0;
    transition: 1s ease;
}
.show{
  opacity: 1;
  transform: translateX(0);
  transform: translatey(0);

}




@media (max-width: 767px) {
  .head-hero{
    padding: 5px;

  }

  /* header */
  header{
    height: 80px;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  header .nav-left .pages-left{
    display: none;
  }
  header .nav-right{
    display: none;
  }
   .shape{
    width: 200px;
    height: 30px;
   }
   header .nav-left img{
  width: 35px;
  height: 65px;
  margin-right: 0;
   }
   header .menu-btn{
    display:flex;
    color: var(--word-color);
    font-size: 30px;
   }
   header .menu-mobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #291847;
    transform: translatey(-400px);
    
    transition: 1s ease;
    z-index: 2;
    
   }
   header .menu-mobile .menu-close{
    align-self: flex-end;
    font-size: 30px;
    color: var(--word-color);
    
    
    
   }
   header .menu-mobile a{
    text-decoration: none;
    color: var(--word-color);
    font-size: 20px;
   }
   header .menu-mobile.menu-show{
    transform: translateY(0);
    
   }
  

  /* hero section */


  .hero-section{
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 60px;
    text-align: center;
    margin-top: 80px;
    
  }
  
  .hero-section .hero-left h1{
    font-size: 34px;
  }
  .hero-section .hero-left p{
    font-size: 18px;
    margin-top: 30px;
  }
  .hero-section .hero-left button{
  padding: 18px;
  font-size: 18px;
}
.hero-section .hero-right img{
  width: 500px;
  height: 400px;
  
}
/* our services */
.our-service h2{
  margin-bottom: 60px;
  font-size: 34px;

}
.services{
  padding: 0 30px;
  flex-direction: column;
  gap: 30px;
}
 .our-service .start{
  opacity: 0.2;
  }
.services h4{
  font-size: 24px;
 
}

.services .div-img-service img{
  border-radius: 10px;
  width: 300px;
}
.services span{
  width: 75px;
  height: 75px;
}
.services span .fa-solid{
 font-size: 30px;

}





  
}
