:root{
  --bg-body:#291847;
  --word-color:white;
   --gradient-colors-hero:linear-gradient(90deg,#FC60FF,#63E8FF,#63E8FF);
   --gradient-colors-hero-btn:linear-gradient(90deg,#FD77FF,#09D6FB);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #291847;
}
.head-hero{
  background:var(--bg-body);
  background:
    radial-gradient(
      circle at 65% 50%,
      rgba(255, 0, 255, 0.6) 0%,
      rgba(255, 0, 255, 0.3) 25%,
      rgba(255, 0, 255, 0.1) 45%,
      rgba(255, 0, 255, 0) 60%
    ),
    linear-gradient(
      90deg,
      #1b0b2e 0%,
      #3a0f5c 40%,
      #0b1b3a 100%
    );
    padding: 0 20px;
}
header{
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
 padding: 0 20px;
}
 .shape{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 288px;
  height: 45px;
  background:  #291847;
  border-radius: 0 0 24px 24px;
  clip-path: polygon(
    0% 0%, 
    100% 0%, 
    80% 100%, 
    20% 100%
  );
 }
header .menu-btn{
  display: none;
}
header .menu-mobile{
  display: none;
}
header .nav-left{
  display: flex;
  align-items: center;
  animation: navber 1s ease forwards;
}
header .nav-left img{
  width: 65px;
  height: 100%;
  margin-right: 88px;
}
header .nav-left .pages-left{
  display: flex;
  gap: 24px;
}
header .nav-left .pages-left a{
  text-decoration: none;
  color:var(--word-color);
  font-size: 32px;

}
header .nav-right{
    display: flex;
  gap: 24px;
  animation: navber 1s ease forwards;
}
header .nav-right a{
  text-decoration: none;
  color:var(--word-color);
  font-size: 32px;
}

header .nav-left a.active{

  text-decoration: underline solid 4px;
  text-underline-offset: 7px;
  text-decoration-color:#b155bf ;
  
  }
header .nav-right a.active{

  text-decoration: underline solid 4px;
  text-underline-offset: 7px;
  text-decoration-color:#b155bf ;
  
  }
header .nav-left a,
  header .nav-right a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    position: relative;
    transition: color 0.3s;
  }
/* basmala */
header .nav-left a::after,
  header .nav-right a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to left , #b226bf ,#9053c6);
    transition: width 0.3s;
  }

  header .nav-left a:hover::after,
  header .nav-right a:hover::after
  {
    width: 100%;
    
  }
  header .nav-left a:hover,
  header .nav-right a:hover{
      color:#ba39c6;
      transition: 0.4s;
  }
  /* bas-- */
  @keyframes navber{
    from{
      transform: translateY(-300px);
      opacity: 0;
    }
    to{
      transform: translateY(0);
      opacity: 1;
    }
  }
/* hero section */
.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  animation: 1s ease forwards;


}

.hero-section .hero-right img{
  width: 753px;
  height: 690px;
}
.hero-section .hero-right{
  animation: fromright 1s ease forwards;
}
.hero-section .hero-left h1{
  font-size: 64px;
  background: var(--gradient-colors-hero);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
.hero-section .hero-left p{
  font-size: 24px;
  line-height: 30px;
  width: 500px;
  height: 156px;
  margin-top: 65px;
  color: var(--word-color);
  
}
.hero-section .hero-left button{
  padding: 24px;
  background: var(--gradient-colors-hero-btn);
  border-radius: 50px;
  font-size: 24px;
  font-weight: bold;
  color: var(--word-color);
  border: none;
  cursor: pointer;
}
.hero-section .hero-left{
  animation: fromleft 1s ease forwards;
}
 .head-hero .start{
  opacity: 0.2;
 }

@keyframes fromleft{
  from{
    transform: translateX(-300px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromright{
  from{
    transform: translateX(300px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}


/* start why procoder */
/* end why procoder */


    /*  Page Background */
    .stars-background{
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}
.stars-background span{
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: .9;
  animation: floatStars 6s linear infinite;
}

.stars-background span:nth-child(1){ top:10%; left:15%; color: #b831f6; }
.stars-background span:nth-child(2){ top:30%; left:70%; color: #b67dd0; }
.stars-background span:nth-child(3){ top:60%; left:25%; color: #9e10e0; }
.stars-background span:nth-child(4){ top:80%; left:50%; color: #9349b6; }
.stars-background span:nth-child(5){ top:20%; left:85%; color: #cc7bd4; }
.stars-background span:nth-child(6){ top:45%; left:10%; color: #9A3BBF; }
.stars-background span:nth-child(7){ top:75%; left:80%; color: #be5fea; }
.stars-background span:nth-child(8){ top:55%; left:60%; color: #8d1698; }
.stars-background span:nth-child(9){ top:10%; left:40%; color: #9A3BBF; }
.stars-background span:nth-child(10){ top:90%; left:30%; color: #6b1066; }

.stars-background span:nth-child(odd){
  animation-duration: 8s;
}
.stars-background span:nth-child(even){
  animation-duration: 4s;
}

@keyframes floatStars{
  0%{ transform:translateY(0) scale(1); opacity:.7; }
  50%{ transform:translateY(-20px) scale(1.2); opacity:1; }
  100%{ transform:translateY(0) scale(1); opacity:.7; }
}

/* Start Section About */
    .wrapper {
      width: 100%;
      padding: 60px 0 ;
    }

    /* Card  */
    .card {
      width: 92%;
      margin: auto;
      position: relative;
      padding-bottom: 160px;
    }

    svg {
      width: 100%;
      height: auto;
      display: block;
    }

    /* Content over SVG  */
    .content {
      position: absolute;
      inset: 0;
      padding: 35px 60px 60px;
    }
    /*  About  */
    .about {
      margin-top: -100px;
      text-align: center;
      
    }

    .about h1 {
      color: white;
      font-size: 42px;
      margin-bottom: 20px;
    }

    .about p {
      max-width: 800px;
      margin: auto;
      line-height: 1.8;
      color: #ddd;
      font-size: 16px;
    }

    /*  Cards  */
    .info-cards {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      padding-bottom: 60px;
    }

    .info-card {
      width: 100%;
      max-width: 400px;
      padding: 35px;
      border-radius: 18px;
      text-align: left;
    }

    .info-card h3 {
      color: white;
      margin-bottom: 15px;
      font-size: 20px;
    }

    .info-card p {
      line-height: 1.6;
      font-size: 14px;
      color: #f1f1f1;
    }
.wrapper,.card,.content{
  margin-top: 0;
  padding-top: 0;
}
    .vision {
      background: linear-gradient(135deg, #6b1066, #401b8a,#190640 );
    }

    .mission {
      background: linear-gradient(135deg, #4A6FD8, #9A3BBF, #8d1698);
    }
     
     
    .values {
      background: linear-gradient(to top, #6C8BEA, #C78BCB);
    }
     .fa-star , .fa-bullseye , .fa-rocket{
      color: white;
      }
  /*Start Responsive  */
      @media (max-width: 768px) {

  .card {
    padding-bottom: 80px;
  }

  .content {
    position: relative;
    padding: 30px 20px;
  }

  .about {
    margin-top: -50px;
  }

  .about h1 {
    color: #fff;
    font-size: 28px;
  }

  .about p {
    font-size: 14px;
    line-height: 1.6;
  }

  .info-cards {
    margin-top: 40px;
    gap: 20px;
  }

  .info-card {
    padding: 25px;
    text-align: center;
  }

  .info-card h3 {
    font-size: 18px;
  }

svg {
    height: 90px;
  }
}

@media (max-width: 480px) {

  .about {
    margin-top: 0px;
  }

  .about h1 {
    font-size: 24px;
  }

  .info-card p {
    font-size: 13px;
  }
  svg {
    height: 120px;
  }
}
/* End Responsive */

/* End Section About */


/* our services */
.our-service{
  margin: 100px 0;
  text-align: center;
  position: relative;
}
.our-service .start{
  position: absolute;
  top: 20px;
  left: 100px;
  transform: translateX(200px);
  font-size: 40px;
 
}
.our-service h2{
  margin-bottom: 60px;
  color: var(--word-color);
  font-size: 50px;

}
.services{
  width: 100%;
  padding: 0 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  

}
/* style="height: 280px; width: 316px;" */
.services .div-img-service{
  background:linear-gradient(0deg,#96EFFF 0%,#FD9AFF 100%) ;
  padding: 5px 5px 0px 5px;
  border-radius: 10px;

}
.services .service-one img{
  width: 316px; 
  height: 280px;
}
.services .service-tow img{
  width: 270px; 
  height: 270px;
}
.services .service-three img{
  width: 316px;
   height: 286px;
}
.services h4{
  margin-top: 15px;
  font-size: 32px;
  color: var(--word-color);
}

.services .div-img-service img{
  border-radius: 10px;
}
.services span{
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: white;
  background: linear-gradient(0deg, #FEC6FF 0%,#C3F5FF 69%);
}
.services span .fa-solid{
 font-size: 40px;

}

.bottom{
  transform: translatey(200px);
}
.anim-arrow{
  transform: translatex(300px);
}
.header-service{
  transform: translatey(-300px);
}
.animation-x{
  opacity: 0;
   transition: 1s ease;
}
.animation-y{
   opacity: 0;
    transition: 1s ease;
}
.show{
  opacity: 1;
  transform: translateX(0);
  transform: translatey(0);

}
@media (max-width: 767px) {
  .head-hero{
    padding: 5px;

  }

  /* header */
  header{
    height: 80px;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  header .nav-left .pages-left{
    display: none;
  }
  header .nav-right{
    display: none;
  }
   .shape{
    width: 200px;
    height: 30px;
   }
   header .nav-left img{
  width: 35px;
  height: 65px;
  margin-right: 0;
   }
   header .menu-btn{
    display:flex;
    color: var(--word-color);
    font-size: 30px;
   }
   header .menu-mobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #291847;
    transform: translatey(-400px);
    
    transition: 1s ease;
    z-index: 2;
    
   }
   header .menu-mobile .menu-close{
    align-self: flex-end;
    font-size: 30px;
    color: var(--word-color);
    
    
    
   }
   header .menu-mobile a{
    text-decoration: none;
    color: var(--word-color);
    font-size: 20px;
   }
   header .menu-mobile.menu-show{
    transform: translateY(0);
    
   }
  

  /* hero section */


  .hero-section{
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 60px;
    text-align: center;
    margin-top: 80px;
    
  }
  
  .hero-section .hero-left h1{
    font-size: 34px;
  }
  .hero-section .hero-left p{
    font-size: 18px;
    margin-top: 30px;
  }
  .hero-section .hero-left button{
  padding: 18px;
  font-size: 18px;
}
.hero-section .hero-right img{
  width: 500px;
  height: 400px;
  
}
/* our services */
.our-service h2{
  margin-bottom: 60px;
  font-size: 34px;

}
.services{
  padding: 0 30px;
  flex-direction: column;
  gap: 30px;
}
 .our-service .start{
  opacity: 0.2;
  }
.services h4{
  font-size: 24px;
 
}

.services .div-img-service img{
  border-radius: 10px;
  width: 300px;
}
.services span{
  width: 75px;
  height: 75px;
}
.services span .fa-solid{
 font-size: 30px;

}





  
}
